transformers
peft
bitsandbytes==0.42.0
tensor-parallel==1.2.8
scipy
datasets==1.2.1
pandas==1.1.5
scikit-learn
prettytable
gradio
torch==2.0.0
setuptools==49.3.0
dill==0.3.4
fire
transformers[sentencepiece]